.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


   body{
      font-family: 'Open Sans'
      }
      .navbar-default {
        box-shadow: none;
        background: none;
      }


#navCollapse,
  #bottomNavCollapse {
      background-color: #FFFFFF;
  }
  .mousePointer {
      cursor: pointer;
      margin-bottom: 0;
      margin-left: 3px;
  }
  nav[role='navigation'] {
      box-shadow: none;
      border: none;
  }
  #loginLink {
      color: black;
      font-weight: bold;
  }
  .errorBlock {
      color: #ce6767;
      display: none;
  }
  .rightRegisterForm {
      padding-bottom: 0%;
  }
  .hrInline {
      display: inline-block;
      border: 0;
      margin: 0%;
      width: 45.2%;
      height: 1px;
      margin-bottom: 2px;
      background: #D8D8D8;
  }
  .hrtext {
      display: inline-block;
      margin: 0;
      text-align: center;
      width: 7%;
      font-size: 14px;
  }
  .navbar-header {
      background-color: white;
  }
  .connectFacebookBtn {
      margin-bottom: 0%;
  }
  .hrContainer {
      margin-top: 1%;
      margin-bottom: 1%;
      width: 410px;
  }
  .firstpara {
      font-size: 14px;
  }
  .info {
      margin-top: 3%;
      width: 416px;
  }
  .rememberMe {
      display: inline-block;
      float: left;
      margin-left: 2%;
      font-size: 13px;
  }
  .forgetPswd {
      display: inline-block;
      float: right;
      margin-right: 2%;
      font-family: 'Open Sans';
  }
  label[for="remember"] {
      font-weight: normal;
  }
  @media (min-width: 415px) and (max-width: 954px) {
      .hrContainer {
          margin-top: 1%;
          margin-bottom: 1%;
          width: 416px;
      }
  }
  @media (max-width: 414px) {
      .hrContainer {
          margin-top: 1%;
          margin-bottom: 1%;
          width: 100%;
      }
      .info {
          margin-top: 2%;
          width: 100%;
      }
      .rememberMe {
          display: inline-block;
          float: left;
          margin-left: 2%;
          font-size: 13px;
          font-family: 'Open Sans';
      }
      .forgetPswd {
          display: inline-block;
          float: right;
          margin-right: 2%;
          font-size: 13px;
          font-family: 'Open Sans';
      }
